:root {
    --accent-color: #D41443;
    --main-title-color: #FFA5BA;
    --second-title-color: #ffffff;
    --first-text-color: #FFFFFF;
    --second-text-color: #000000;
    --third-text-color: #907E82;
    --fourth-text-color: #FFA5BA;
    --button-color: #ffffff;
    --button-hover-color: #ECEBEB;
  }