%button {
    display: block;
    border-radius: 20px;
    border-color: transparent;
    min-width: 62px;
    font-family: inherit;
    align-items: center;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: $pre-title-color;
      }
    &:focus {
      background-color: $pre-title-color;
      }
  }

%modal {
  width: 96%;
  max-width: 440px;
  padding: 40px;
  background-color: $btn-light-text-color;
	box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
  }
}
%backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
%modal-close {
  position: absolute;
	top: 13px;
	right: 13px;
  display: flex;
	align-items: center;
	justify-content: center;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: $pre-title-color;
  transition-property: $accent-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		background-color: $accent-color;
	}
	&:focus {
		background-color: $accent-color;
	}
  
}
%modal-title {
  margin-bottom: 20px;
  font-family: Titan One;
  text-align: center;
  color: $accent-color;
  text-transform: uppercase;
}