%button {
    display: block;
    border-radius: 20px;
    border-color: transparent;
    min-width: 62px;
    font-family: inherit;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }