$accent-color: #d41443;
$pre-title-color: #ffa5ba;
$title-color: #ffffff;
$first-text-color: #ffffff;
$second-text-color: #000000;
$third-text-color: #907e82;
$fourth-text-color: hsl(346, 100%, 82%);
$btn-light-text-color: #ffffff;
$btn-dark-text-color: #d41443;
$btn-light-hover-color: #ecebeb;
$btn-dark-hover-color: #c7133e;
$bg-color: #e5e5e5;
$bg-hero-color: #ffb8ca;
$bg-about-contacts-color: #fff5f6;
$bg-slider-color: #e1e1e1;
$bg-mob-menu: #e17992;
$bg-send-color: #f0d1a5;
$bg-green-color: #c2e297;
