:root {
  --accent-color: #d41443;
  --pre-title-color: #ffa5ba;
  --title-color: #ffffff;
  --first-text-color: #ffffff;
  --second-text-color: #000000;
  --third-text-color: #907e82;
  --fourth-text-color: #ffa5ba;
  --btn-light-text-color: #ffffff;
  --btn-dark-text-color: #d41443;
  --btn-light-hover-color: #ecebeb;
  --btn-dark-hover-color: #c7133e;
}
