<section 
id="how_it’s_made"
class="about"
>
    <div class="container">
        <p class="about__pre-title section__pre-title">tradition and love</p>
        <h2 class="about__title section__title">
            how it’s made?
        </h2>
        
        <div class="about__tablet-wrapper">

        <picture class="about__visuals">
            <source 
            srcset="./images/about/about-cow-desk-1x.png 1x, ./images/about/about-cow-desk-2x.png 2x"
            media="(min-width:1280px)" 
            />

            <source 
            srcset="./images/about/about-cow-tab-1x.png 1x, ./images/about/about-cow-tab-2x.png 2x"
            media="(min-width:768px)" 
            />

            <source srcset="./images/about/about-cow-mob-1x.png 1x, ./images/about/about-cow-mob-2x.png 2x"
            media="(min-width:480px)" 
            /> 

            <img 
            src="./images/about/about-cow-desk-1x.png" 
            alt="Cow and fresh milk" 
            class="about__image" 
            />
        </picture>
        
<div class="about__tablet-desktop-text-n-button">

    <ul class="about__text list">
        <li class="about__text_black">
            We are sure that happiness is health. And, this is what our ice cream and coffee bring to you! It's our way – The
            IceCream way to create and live.
        </li>
        <li class="about__text_grey">
            What could be better than a magic combination of milk, cream, eggs, and cane sugar (or coconuts, cashews, and oats for
            our vegan friends)? Yes, our ice cream has fat. And it’s okay. It’s good-good, not good-bad.
        </li>
        <li class="about__text_grey">
            Good is a choice of ingredients. Good is their harmony.
        </li>
    </ul>

    <button type="button" class="about__modal-button open-about-modal-btn1">
        Read more
        <svg class="about__modal-icon" width="8" height="18">
            <use href="./images/svg/icons.svg#icon-vector"></use>
        </svg>
    </button>
</div>
</div>
        
<!-- desktop -->

<div class="about__desktop-wrapper">

<div class="about__desktop-content">

        <picture class="about__visuals">
            <source srcset="./images/about/about-cow-desk-1x.png 1x, ./images/about/about-cow-desk-2x.png 2x"
                media="(min-width:1280px)" />
        
            <source srcset="./images/about/about-cow-tab-1x.png 1x, ./images/about/about-cow-tab-2x.png 2x"
                media="(min-width:768px)" />
        
            <source srcset="./images/about/about-cow-mob-1x.png 1x, ./images/about/about-cow-mob-2x.png 2x"
                media="(min-width:480px)" />
        
            <img src="./images/about/about-cow-desk-1x.png" alt="Cow and fresh milk" class="about__image" />
        </picture>
        
        <div class="about__tablet-desktop-text-n-button">

    <ul class="about__text list">
        <li class="about__text_black">
            We are sure that happiness is health. And, this is what our ice cream and coffee bring to you! It's our way –
            The
            IceCream way to create and live.
        </li>
        <li class="about__text_grey">
            What could be better than a magic combination of milk, cream, eggs, and cane sugar (or coconuts, cashews, and
            oats for
            our vegan friends)? Yes, our ice cream has fat. And it’s okay. It’s good-good, not good-bad.
        </li>
        <li class="about__text_grey">
            Good is a choice of ingredients. Good is their harmony.
        </li>
    </ul>
        
        <button type="button" class="about__modal-button open-about-modal-btn2">
            Read more
            <svg class="about__modal-icon" width="8" height="18">
                <use href="./images/svg/icons.svg#icon-vector"></use>
            </svg>
        </button>
        </div>
</div>
</div>

<!-- modal window -->
        
<div class="about-backdrop visually-hidden">
    <div class="modal-about">
        <button type="button" class="modal-about__modal-close-btn close-about-modal-btn">
            <svg class="modal-about__icon" width="14" height="14">
                <use href="./images/svg/icons.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="modal-about__title section__title">
            we create it
            <br> for you
        </h2>
        <p class="modal-about__description">
            All the products by our IceCream team are for everyone! That’s why we are obsessed with exactly what goes into our ice
            cream and what stays out. This is true whether it’s classic ice cream. Or vegan. Or whatever we churn up next. In such a
            way, it would be fair to say that creating ice cream, coffee, and milkshakes that make you feel good is our mission. As
            for our other values, we also try to be kind to our customers, our partners, and to each other. And it’s why we’re
            always willing to go the extra mile.
        </p>
        <p class="modal-about__after-title section__pre-title">
            wanna know more?
        </p>
        <p class="modal-about__call-to-action">
            Then, follow our BLOG
            <br> & stay updated!
        </p>
        <button type="button" class="modal-about__blog-btn">
            follow
        </button>

    </div>
</div>
</div>

</section>

