<section id="contact" class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>

    <ul class="contacts__card-set list">
      <li class="contacts__card">
        <h5 class="contacts__card-top">CAFE</h5>
        <h6 class="contacts__card-city">Odesa</h6>
        <p class="contacts__card-info">
          The best iced summer snack in the city not so far from the Black Sea
        </p>
        <p class="contacts__card-descript">Monday - Friday</p>
        <time datetime="PT16H0M" class="contacts__card-time">06:00 AM - 10:00 PM</time>
        <p class="contacts__card-descript second">Saturday - Sunday</p>
        <time datetime="PT8H0M" class="contacts__card-time">08:00 AM - 16:00 PM</time>

        <ul class="contacts__links list">
          <li class="contacts__item">
            <a href="tel:+610383766284" class="contacts__item-link link">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@ukr.net" class="contacts__item-link link">noreply@ukr.net</a>
          </li>
        </ul>
      </li>

      <li class="contacts__card">
        <h5 class="contacts__card-top food">FOODTRUCK</h5>
        <h6 class="contacts__card-city">Lviv</h6>
        <p class="contacts__card-info">
          You can find us in the city center or we will come to your place
        </p>
        <p class="contacts__card-descript">Monday - Friday</p>
        <time datetime="PT16H0M" class="contacts__card-time">06:00 AM - 10:00 PM</time>
        <p class="contacts__card-descript second">Saturday - Sunday</p>
        <time datetime="PT8H0M" class="contacts__card-time">08:00 AM - 16:00 PM</time>

        <ul class="contacts__links list">
          <li class="contacts__item">
            <a href="tel:+610383766284" class="contacts__item-link link">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@ukr.net" class="contacts__item-link link">noreply@ukr.net</a>
          </li>
        </ul>
      </li>

      <li class="contacts__card">
        <h5 class="contacts__card-top">CAFE</h5>
        <h6 class="contacts__card-city">Milano</h6>
        <p class="contacts__card-info">
          Our cafe has the most delicious ice cream in the whole Italy
        </p>
        <p class="contacts__card-descript">Monday - Friday</p>
        <time datetime="PT16H0M" class="contacts__card-time">06:00 AM - 10:00 PM</time>
        <p class="contacts__card-descript second">Saturday - Sunday</p>
        <time datetime="PT16H0M" class="contacts__card-time">08:00 AM - 16:00 PM</time>

        <ul class="contacts__links list">
          <li class="contacts__item">
            <a href="tel:+610383766284" class="contacts__item-link link">+61(0) 383 766 284</a>
          </li>
          <li class="contacts__item">
            <a href="mailto:noreply@ukr.net" class="contacts__item-link link">noreply@ukr.net</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="contacts__button-set">
      <li>
        <button type="button" class="contacts__button btn-frst" data-map-modal-open>
          <span>Our Locations</span
          ><svg width="7px" height="10px" class="icon-frst">
            <use href="./images/svg/icons.svg#icon-vector"></use>
          </svg>
        </button>
      </li>
      <li>
        <button type="button" class="contacts__button btn-scnd" data-franchise-modal-open>
          <span>Franchise</span>
          <svg width="7px" height="10px" class="icon-scnd">
            <use href="./images/svg/icons.svg#icon-vector"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
