
<section class="slide-section">
  <div class="container slide-section-container">
    <h2 class="visually-hidden">Отзывы покупателей</h2>

    <div>
      <div>
        <div class="user-photo">
          <img
            class="slide-sec-photo"
            src="./images/customer-reviews/rewiews-girl1-1x.png"
            alt="smiling girl"
            width="85"
            height="85"
            srcset="/images/customer-reviews/rewiews-girl1-2x.png 2x"
          />
        </div>

        <div class="user-review">
          <div class="p-field-gradient">
            <p class="example">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
            <div class="gradient"></div>
          </div>
        </div>
        <div class="user-tittle">
          <p class="user">Emily, Los Angeles</p>
        </div>
      </div>
      <div class="pagination-section">

        <svg class="dots home" width="12px" height="12px">
          <use href="/images/customer-reviews/sprite.svg#home"></use>
        </svg>

        <svg class="dots" width="12px" height="12px">
          <use href="/images/customer-reviews/sprite.svg#gray-dots"></use>
        </svg>

        <svg class="dots" width="12px" height="12px">
          <use href="/images/customer-reviews/sprite.svg#gray-dots"></use>
        </svg>

    </div>
</section>
