<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="gallery__container container">
    <div class="gallery__block block1">
      <div class="gallery__item">
        <img class="gallery__image" src="./images/gallery/gallery1.png" alt="ice lolly" />
        <p class="gallery__overlay">oriental matcha ice cream</p>
      </div>
    </div>
    <div class="gallery__block block2">
      <div class="gallery__item">
        <img class="gallery__image" src="./images/gallery/gallery2.png" alt="ice cream cone" />
        <p class="gallery__overlay">Belgian ice cream cone</p>
      </div>
      <div class="gallery__item">
        <img class="gallery__image" src="./images/gallery/gallery3.png" alt="raspberry ice cream" />
        <p class="gallery__overlay">french berry sorbet</p>
      </div>
    </div>
    <div class="gallery__block block3">
      <div class="gallery__item item4">
        <img
          class="gallery__image"
          src="./images/gallery/gallery4.png"
          alt="berry-studded ice cream"
        />
        <p class="gallery__overlay">Moldavian berry-studded ice cream set</p>
      </div>
      <div class="gallery__item item5">
        <img class="gallery__image" src="./images/gallery/gallery5.png" alt="girl and ice cream" />
        <p class="gallery__overlay">classic italian gelato</p>
      </div>
    </div>
    <div class="gallery__block block4">
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="./images/gallery/gallery6.png"
          alt="berry and fruit dessert"
        />
        <p class="gallery__overlay">Ukrainian fruit and yogurt salad</p>
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="./images/gallery/gallery7.png"
          alt="ice cream and street"
        />
        <p class="gallery__overlay">Danish street ice cream</p>
      </div>
    </div>
    <div class="gallery__block block5">
      <div class="gallery__item">
        <img class="gallery__image" src="./images/gallery/gallery8.png" alt="dog and ice cream" />
        <p class="gallery__overlay">pet friendly</p>
      </div>
      <div class="gallery__item">
        <img class="gallery__image" src="./images/gallery/gallery9.png" alt="milkshake" />
        <p class="gallery__overlay">canadian chocolate milkshake</p>
      </div>
    </div>
    <div class="gallery__block block6">
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="./images/gallery/gallery10.png"
          alt="milkshake and dessert"
        />
        <p class="gallery__overlay">polish dessert set</p>
      </div>
    </div>
  </div>
</section>
