<div class="header__hero">
    <header class="header">
        <div class="header__container container">
            <div class="wrap">
                <a><img class="logo" src="./images/hero-header/logo-1x.png" alt="logotype"></a>
                <button class="mob-menu__btn-burger" type="button">
                    <svg class="mob-menu__icon-burger">
                        <use href="./images/svg/icons.svg#icon-Burger"></use>
                    </svg>
                </button>
            </div>
            <div class="mob-menu">
                <button class="mob-menu__btn-close" type="button">
                    <svg class="mob-menu__icon-close">
                        <use href="./images/svg/icons.svg#icon-close"></use>
                    </svg>
                </button>
                <button class="mob-menu__btn-buy" type="button">Buy now
                    <svg class="mob-menu__icon-vector">
                        <use href="./images/svg/icons.svg#icon-vector"></use>
                    </svg>
                </button>
                <ul class="mob-menu__list list">
                    <li class="mob-menu__item"><a class="mob-menu__link" href="#Home">Home</a></li>
                    <li class="mob-menu__item"><a class="mob-menu__link" href="#About_us">About us</a></li>
                    <li class="mob-menu__item"><a class="mob-menu__link" href="#How_it’s_made">How it’s made?</a></li>
                    <li class="mob-menu__item"><a class="mob-menu__link" href="#Our_products">Our products</a></li>
                    <li class="mob-menu__item"><a class="mob-menu__link" href="#Contact">Contact</a></li>
                </ul>
            </div>
        </div>

    </header>

    <section class="hero">
        <div class="hero__container container">
            <h1 class="title">ice cream made with <span class="title__part">passion</span></h1>
            <button class="hero__btn-products" type="button">Products</button>
            <button class="hero__btn-about" type="button">How it’s made?</button>
        </div>
    </section>
</div>