<div class="header__hero" id="home">
    <header class="header">
        <div class="header__container">
            <div class="wrap container">
                <picture class="logo">
                    <source 
                        srcset="
                            ./images/hero-header/logo-1x.png 1x, 
                            ./images/hero-header/logo-2x.png 2x" 
                    >
                    <img src="./images/hero-header/logo-1x.png" alt="logotype">
                </picture>
                <p class="logo__desktop">icecream</p>

                <ul class="menu__list list">
                    <li class="menu__item"><a class="menu__link" href="#home">Home</a></li>
                    <li class="menu__item"><a class="menu__link" href="#about_us">About us</a></li>
                    <li class="menu__item"><a class="menu__link" href="#how_it’s_made">How it’s made?</a></li>
                    <li class="menu__item"><a class="menu__link" href="#our_products">Our products</a></li>
                    <li class="menu__item"><a class="menu__link" href="#contact">Contact</a></li>
                </ul>

                <button class="mob-menu__btn-burger js-open-menu" type="button"
                    aria-expanded="false"
                    aria-controls="mobile-menu">
                    <svg class="mob-menu__icon-burger"
                    aria-label="mobile menu switch">
                        <use href="./images/svg/icons.svg#icon-Burger"></use>
                    </svg>
                </button>
                <button class="mob-menu__btn-buy mob-menu__btn-buy__tab" type="button" data-modal-open>Buy now
                    <svg class="mob-menu__icon-vector">
                        <use href="./images/svg/icons.svg#icon-vector"></use>
                    </svg>
                </button>
            </div>
            <div class="mob-container js-menu-container" id="mobile-menu">
                <button class="mob-menu__btn-close js-close-menu" type="button">
                    <svg class="mob-menu__icon-close" 
                    aria-label="mobile menu switch" 
                    aria-expanded="false">
                        <use href="./images/svg/icons.svg#icon-close"></use>
                    </svg>
                </button>
                    <nav class="mobile-menu">
                        <button class="mob-menu__btn-buy" type="button" data-modal-open>Buy now
                            <svg class="mob-menu__icon-vector">
                                <use href="./images/svg/icons.svg#icon-vector"></use>
                            </svg>
                        </button>
                        <ul class="mob-menu__list list">
                            <li class="mob-menu__item"><a class="mob-menu__link" href="#home">Home</a></li>
                            <li class="mob-menu__item"><a class="mob-menu__link" href="#about_us">About us</a></li>
                            <li class="mob-menu__item"><a class="mob-menu__link" href="#how_it’s_made">How it’s made?</a></li>
                            <li class="mob-menu__item"><a class="mob-menu__link" href="#our_products">Our products</a></li>
                            <li class="mob-menu__item"><a class="mob-menu__link" href="#contact">Contact</a></li>
                        </ul>
                        
                    </nav>
            </div>
        </div>

    </header>

    <section class="hero">
            <div class="container hero__container">
                <div class="title__numbers">
                    <h1 class="title">ice cream<br> made with<br> <span class="title__part">passion</span></h1>
                    <div class="numbers">
                        <p class="hero__number-first">16<span class="hero__cafes">cafes</span></p>
                        <p class="hero__number-second">23<span class="hero__cafes">food trucks</span></p>
                    </div>
                </div>
                <button class="hero__btn-products" type="button" href="#our_products">Products</button>
                <button class="hero__btn-about" type="button" href="#how_it’s_made">How it’s made?</button>
                <p class="hero__text">Wherever you go you will find your favorite natural ice cream in any place of the world</p>
                <button type="button" class="hero__button__bottom"></button>
                    <!-- <div class="ice-cream"></div>    -->
            </div>
        </div>
    </section>
</div>