<div class="backdrop is-hidden" data-map-modal>
    <div class="map-modal">
        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/d/embed?mid=10Knn6LDp618ICTZn4Vr2WXdYioUfotZW&ehbc=2E312F"
                width="640" height="480"></iframe>
        </div>
        <button type="button" class="map-modal-close" data-map-modal-close>
            <svg class="icon-close-map-modal" width="20" height="20">
                <use href="./images/svg/icons.svg#icon-close">
                </use>
            </svg>
        </button>
    </div>
</div>