<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal-close" data-modal-close>
            <svg class="icon-close-modal" width="14" height="14">
                <use href="./images/svg/icons.svg#icon-close-menu">
                </use>
            </svg>
        </button>
        <p class="modal__title">Create your 100% natural dessert</p>
        <form action="#" class="modal-form">
            <label for="user" class="modal-form__text">Choose product</label>
            <input type="text" name="user" class="modal-form__input" required id="user">
            <label for="user" class="modal-form__text">Choose product</label>
            <input type="text" name="user" class="modal-form__input" required id="user">
            <label for="user" class="modal-form__text">Choose product</label>
            <input type="text" name="user" class="modal-form__input" required id="user">
            <label for="user-comment" class="modal-form__text">Your comments</label>
            <textarea name="user-comment" id="user-comment" class="modal-form__comment"
              placeholder="Add a note"></textarea>

            <button type="submit" class="button modal-form_button">Proceed to checkout</button>
        </form>
    </div>
</div>