<section class="products container">
    <div class="products__heading">
        <p class="section__pre-title">100% natural</p>
        <h2 class="products__title">products</h2>
    </div>
    <ul class="products__list">
        <li class="products__item">
            <a href="" class="products__link">
                <div class="product__box">
                    <picture class="product__image">
                        <source
                            srcset="./images/products/products-pic1-mob-1x.png 1x, ./images/products/products-pic1-mob-2x.png 2x" />
                        <img src="./images/products/products-pic1-desk-1x.png" alt="ice cream">
                    </picture>
                    <div class="products__card products__card--one">
                        <h3 class="products__caption">ice cream</h3>
                        <ul class="products__dots">
                            <li class="products__dots-item">
                                <a href="" class="products__dots-link">
                                    <svg class="products__dots-icon">
                                        <use href="./images/svg/icons.svg#ellipse"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="products__dots-item">
                                <a href="" class="products__dots-link">
                                    <svg class="products__dots-icon">
                                        <use href="./images/svg/icons.svg#ellipse"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="products__dots-item">
                                <a href="" class="products__dots-link">
                                    <svg class="products__dots-icon">
                                        <use href="./images/svg/icons.svg#ellipse"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor
                            incididunt ut labore
                            et. dolore magna
                            aliqua facilisis.</p>
                        <button type="button" class="products__button"></button>
                    </div>
                </div>
            </a>
        </li>
        <li class="products__item">
            <a href="" class="products__link">
                <div class="product__box">
                    <picture class="product__image">
                        <source
                            srcset="./images/products/products-pic2-mob-1x.png 1x, ./images/products/products-pic2-mob-2x.png 2x" />
                        <img src="./images/products/products-pic2-desk-1x.png" alt="ice coffee">
                    </picture>
                    <div class="products__card products__card--two">
                        <h3 class="products__caption">ice coffee</h3>
                        <ul class="products__dots">
                            <li class="products__dots-item">
                                <a href="" class="products__dots-link">
                                    <svg class="products__dots-icon">
                                        <use href="./images/svg/icons.svg#ellipse"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="products__dots-item">
                                <a href="" class="products__dots-link">
                                    <svg class="products__dots-icon">
                                        <use href="./images/svg/icons.svg#ellipse"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="products__dots-item">
                                <a href="" class="products__dots-link">
                                    <svg class="products__dots-icon">
                                        <use href="./images/svg/icons.svg#ellipse"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor
                            incididunt ut labore
                            et. dolore magna
                            aliqua facilisis.</p>
                        <button type="button" class="products__button"></button>
                    </div>
                </div>
            </a>
        </li>
        <li class="products__item">
            <a href="" class="products__link">
                <div class="product__box">
                    <picture class="product__image">
                        <source
                            srcset="./images/products/products-pic3-mob-1x.png 1x, ./images/products/products-pic3-mob-2x.png 2x" />
                        <img src="./images/products/products-pic3-desk-1x.png" alt="milkshakes">
                    </picture>
                    <div class="products__card products__card--three">
                        <h3 class="products__caption">milkshakes</h3>
                        <ul class="products__dots">
                            <li class="products__dots-item">
                                <a href="" class="products__dots-link">
                                    <svg class="products__dots-icon">
                                        <use href="./images/svg/icons.svg#ellipse"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="products__dots-item">
                                <a href="" class="products__dots-link">
                                    <svg class="products__dots-icon">
                                        <use href="./images/svg/icons.svg#ellipse"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="products__dots-item">
                                <a href="" class="products__dots-link">
                                    <svg class="products__dots-icon">
                                        <use href="./images/svg/icons.svg#ellipse"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor
                            incididunt ut labore
                            et. dolore magna
                            aliqua facilisis.</p>
                        <button type="button" class="products__button"></button>
                    </div>
                </div>
            </a>
        </li>
    </ul>

</section>