<section class="products" id="our_products">
    <div class="container">
        <p class="section__pre-title">100% natural</p>
        <h2 class="section__title">products</h2>
        <ul class="products__list">
            <li class="products__item">
                <div class="products__card products__card--one">
                    <div class="flip-inner">
                        <div class="flip-front">
                            <h3 class="products__caption">ice cream</h3>
                            <ul class="products__dots">
                                <li class="products__dots-item">
                                    <a href="" class="products__dots-link">
                                        <svg class="products__dots-icon">
                                            <use href="./images/svg/icons.svg#ellipse"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="products__dots-item">
                                    <a href="" class="products__dots-link">
                                        <svg class="products__dots-icon">
                                            <use href="./images/svg/icons.svg#ellipse"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="products__dots-item">
                                    <a href="" class="products__dots-link">
                                        <svg class="products__dots-icon">
                                            <use href="./images/svg/icons.svg#ellipse"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                            <p class="products__text">The mixture is cooled below the freezing point of water and
                                stirred. The meaning of the name varies in all countries.</p>
                            <button type="button" class="products__button"></button>
                        </div>
                        <div class="flip-back">
                            <p class="products__text">Ice cream is a sweetened frozen food typically
                                eaten as
                                a snack
                                or dessert.It may be made from
                                milk or cream and is
                                flavoured with a sweetener, either sugar or an alternative, and a spice.
                            </p>
                            <button type="button" class="products__button"></button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="products__item">
                <div class="products__card products__card--two">
                    <div class="flip-inner">
                        <div class="flip-front">
                            <h3 class="products__caption">ice coffee</h3>
                            <ul class="products__dots">
                                <li class="products__dots-item">
                                    <a href="" class="products__dots-link">
                                        <svg class="products__dots-icon">
                                            <use href="./images/svg/icons.svg#ellipse"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="products__dots-item">
                                    <a href="" class="products__dots-link">
                                        <svg class="products__dots-icon">
                                            <use href="./images/svg/icons.svg#ellipse"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="products__dots-item">
                                    <a href="" class="products__dots-link">
                                        <svg class="products__dots-icon">
                                            <use href="./images/svg/icons.svg#ellipse"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                            <p class="products__text">Pre-packaged iced coffee is available as a grocery item in several
                                countries. It is also
                                regularly available in most coffee shops.</p>
                            <button type="button" class="products__button"></button>
                        </div>
                        <div class="flip-back">
                            <p class="products__text">Iced coffee is a coffee beverage served cold. It may be
                                prepared either by brewing coffee normally and then serving it over ice or in cold milk.
                            </p>
                            <button type="button" class="products__button"></button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="products__item">
                <div class="products__card products__card--three">
                    <div class="flip-inner">
                        <div class="flip-front">
                            <h3 class="products__caption">milkshakes</h3>
                            <ul class="products__dots">
                                <li class="products__dots-item">
                                    <a href="" class="products__dots-link">
                                        <svg class="products__dots-icon">
                                            <use href="./images/svg/icons.svg#ellipse"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="products__dots-item">
                                    <a href="" class="products__dots-link">
                                        <svg class="products__dots-icon">
                                            <use href="./images/svg/icons.svg#ellipse"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="products__dots-item">
                                    <a href="" class="products__dots-link">
                                        <svg class="products__dots-icon">
                                            <use href="./images/svg/icons.svg#ellipse"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                            <p class="products__text">Milkshakes originated in the United States around the turn of the
                                20th
                                century, and grew in popularity in next years.</p>
                            <button type="button" class="products__button"></button>
                        </div>
                        <div class="flip-back">
                            <p class="products__text">A milkshake is a
                                sweet drink made by blending milk, ice cream, and flavorings or
                                sweeteners such as butterscotch, caramel sauce, chocolate syrup.
                            </p>
                            <button type="button" class="products__button"></button>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</section>