.about {
  background-color: $bg-about-contacts-color;
  padding-top: 125px;
  padding-bottom: 39px;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 40% 90%;

  background-image: url('../images/about/about-sectionbg-mob-1x.png');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/about/about-sectionbg-mob-2x.png');
  }

  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 66px;
    background-image: none;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: none;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 0;
    background-position: 50% 80%;
    background-image: url('../images/about/about-sectionbg-desk-1x.png');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/about/about-sectionbg-desk-2x.png');
  }
}

.about__pre-title {
  text-align: center;
}

.about__title {
  margin-bottom: 26px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 94px;
  }
}

.about__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 340px;
    height: 339px;
    margin-right: 17px;
  }
  @media screen and (min-width: 1280px) {
    width: 516px;
    height: 516px;
    margin-right: 92px;
  }
}

.about__image {
  animation-name: tossing;
  -webkit-animation-name: tossing;

  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
  }
}

.about__text {
  width: 100%;
  margin-bottom: 26px;
  padding-left: 30px;
  padding-right: 30px;
  @include font(12px, 1.6, 0.04em, 500);

  @media screen and (min-width: 768px) {
    padding: 0;
    margin-bottom: 62px;
    @include font(14px, 1.8, 0.03em, 500);
  }

  @media screen and (min-width: 1280px) {
    padding: 0;
    margin-bottom: 45px;
    @include font(16px, 1.7, 0.04em, 500);
  }
}

.about__text {
  width: 100%;
  margin-bottom: 26px;
  padding-left: 30px;
  padding-right: 30px;
  @include font(12px, 1.6, 0.04em, 500);

  @media screen and (min-width: 768px) {
    padding: 0;
    margin-bottom: 62px;
    @include font(14px, 1.8, 0.03em, 500);
  }

  @media screen and (min-width: 1280px) {
    padding: 0;
    margin-bottom: 45px;
    @include font(16px, 1.7, 0.04em, 500);
  }
}

.about__text_black {
  margin-bottom: 31px;
}

.about__text_grey {
  color: $third-text-color;
  &:not(:last-child) {
    margin-bottom: 31px;
  }
}

.about__modal-button {
  width: 176px;
  height: 44px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 30px;
  border-radius: 22px;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $btn-light-text-color;
  color: $btn-dark-text-color;
  @include font(14px, 1.3, 0.04em, bold);
  transition-property: $btn-light-hover-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $btn-light-hover-color;
  }
  &:focus {
    background-color: $btn-light-hover-color;
  }

  @media screen and (min-width: 768px) {
    margin-left: 0;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 0;
  }
}

.about__modal-icon {
  margin-left: 18.6px;
  vertical-align: middle;
}

.about__tablet-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and(min-width: 1280px) {
    display: none;
  }
}

.about__desktop-wrapper {
  display: none;
  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
  }
}

.about__desktop-content {
  display: flex;
}

.about__tablet-desktop-text-n-button {
  width: 100%;
  padding: 0;

  @media screen and (min-width: 768px) {
    width: 340px;
  }

  @media screen and (min-width: 1280px) {
    width: 463px;
  }
}

/* modal window */

.about-backdrop {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 300ms, visibility 300ms;
}

.modal-about {
  background-color: $btn-light-text-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 300ms;
  width: 96%;
  max-width: 440px;
  min-height: 609px;
  padding: 40px;

  @media screen and (min-width: 1280px) {
    width: 528px;
    min-height: 581px;
  }
}
.modal-about:hover {
  background: linear-gradient(45deg, #f8ced8, #ffffff);
  background-size: 200%;
  animation: gradient 5s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.modal-about__modal-close-btn {
  position: absolute;
  top: 13px;
  right: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: $pre-title-color;
  transition-property: $accent-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $accent-color;
  }
  &:focus {
    background-color: $accent-color;
  }
}

.modal-about__title {
  padding-bottom: 26px;
  text-align: center;
  margin-top: 10px;
}

.modal-about__description {
  color: $third-text-color;
  text-align: center;
  margin-bottom: 40px;
  @include font(12px, 1.6, 0.04em, 500);
}

.modal-about__after-title {
  text-align: center;
}

.modal-about__call-to-action {
  text-align: center;
  margin-bottom: 38px;
  @include font(14px, 1.6, 0.04em, 500);
}

.modal-about__blog-btn {
  width: 150px;
  height: 44px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 22px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $accent-color;
  color: $btn-light-text-color;
  text-transform: uppercase;
  @include font(14px, 1.3, 0.04em, bold);
  transition-property: $pre-title-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $pre-title-color;
  }
  &:focus {
    background-color: $pre-title-color;
  }
}

.modal-about__blog-btn {
  animation-name: pulse;
  -webkit-animation-name: pulse;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7;
  }
}
