.advantages {
  background-color: $bg-about-contacts-color;
  padding-bottom: 97px;
}
.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-right: 42px;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 0;
  }
}
.advantages-item {
  max-width: 230px;
  margin-bottom: 38px;
  transition: background-color 1s linear;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    max-width: 180px;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    max-width: 330px;
  }
}
.advantages-item:hover {
  background: linear-gradient(45deg, rgba(250, 187, 202, 0.3), rgba(248, 248, 248, 0.3));
  background-size: 200%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.advantages-item__title {
  @include font(36px, 1.13, 0.04em, 400);
  color: $btn-dark-text-color;
  padding-bottom: 16px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  transition: all 0.2s ease;
  &::before {
    content: '';
    display: block;
    width: auto;
    height: 50px;
    background-size: contain;
    margin-bottom: 16px;
    background-repeat: no-repeat;
    transition: 1s;
    @media screen and (min-width: 1280px) {
      margin-bottom: 50px;
    }
  }
  @media screen and (min-width: 768px) {
    @include font(48px, 1.14, 0.04em, 400);
  }
  @media screen and (min-width: 1280px) {
    @include font(58px, 1.14, 0.04em, 400);
  }
}
.advantages-item__title:hover {
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
  text-shadow: 2px 2px 2px #000;
}

.advantages-item__title--first::before {
  background-image: url(../images/advantages/icon1-1x.png);
}
.advantages-item__title--second::before {
  background-image: url(../images/advantages/icon2-1x.png);
}

.advantages-item__title--third::before {
  background-image: url(../images/advantages/icon3-1x.png);
}

.advantages-item__text {
  @include font(12px, 1.66, 0.03em, 700);
  color: $second-text-color;
  background: linear-gradient(45deg, rgba(250, 187, 202, 0.3), rgba(248, 248, 248, 0.3));
  background-size: 200%;
  animation: gradient 3s ease infinite;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  @media screen and (min-width: 768px) {
    @include font(14px, 1.71, 0.03em, 700);
  }
  @media screen and (min-width: 1280px) {
    @include font(16px, 1.76, 0.02em, 700);
  }
}
