.advantages {
  background-color: $bg-about-contacts-color;
  padding-bottom: 97px;
}
.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
.advantages-item {
  max-width: 230px;
  margin-bottom: 38px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    max-width: 180px;
    flex-wrap: wrap;
    padding-left: 16px;
    margin-bottom: 0;
  }
}
.advantages-item__title {
  @include font(36px, 1.13, 0.04em, 400);
  color: $btn-dark-text-color;
  padding-bottom: 16px;
  text-transform: uppercase;
  &::before {
    content: '';
    display: block;
    width: auto;
    height: 50px;
    background-size: contain;
    margin-bottom: 16px;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: 768px) {
    @include font(48px, 1.14, 0.04em, 400);
  }
}
.advantages-item__title--first::before {
  background-image: url(../images/advantages/icon1-1x.png);
}
.advantages-item__title--second::before {
  background-image: url(../images/advantages/icon2-1x.png);
}

.advantages-item__title--third::before {
  background-image: url(../images/advantages/icon3-1x.png);
}

.advantages-item__text {
  @include font(12px, 1.66, 0.03em, 700);
  color: $second-text-color;
  @media screen and (min-width: 768px) {
    @include font(14px, 1.71, 0.03em, 700);
  }
}
