.contacts {
  background: linear-gradient(to bottom, $title-color 5%, #fff5f6 5%);
  padding-bottom: 113px;
}
.contacts__card-set {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 54px;
}
.contacts__card {
  max-width: 220px;
  min-height: 427px;
  padding: 43px 21px 43px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  background-color: $title-color;
  &:last-child {
    margin-bottom: 0;
  }
}
.contacts__card-top {
  display: inline-block;
  min-width: 80px;
  min-height: 16px;
  text-align: center;
  margin-bottom: 25px;
  border-radius: 4px;
  border: none;
  background-color: $bg-send-color;
  @include font(12px, 1.86, 0.04em, 500);
  color: $first-text-color;
}
.food {
  min-width: 130px;
  min-height: 16px;
  background-color: $bg-green-color;
}
.contacts__card-city {
  margin-bottom: 10px;
  @include font(12px, 1.86, 0.04em, 500);
  color: $second-text-color;
}
.contacts__card-descript {
  @include font(12px, 1.86, 0.04em, 500);
  color: $second-text-color;
}
.contacts__card-info {
  @include font(12px, 1.86, 0.03em, 500);
  color: $third-text-color;
}
.contacts__card-info::after {
  display: block;
  content: '';
  margin: 25px 0;
  border: 1px solid $bg-slider-color;
}
.contacts__card-time {
  @include font(12px, 1.86, 0.04em, 500);
  color: $fourth-text-color;
}
.second {
  margin-top: 10px;
}
.contacts__links::before {
  display: block;
  content: '';
  margin: 25px 0;
  border: 1px solid $bg-slider-color;
}
.contacts__item {
  @include font(12px, 1.5, 0.04em, 500);
  color: $third-text-color;
}
.contacts__item-link {
  color: currentColor;
}
.contacts__item-link:hover,
.contacts__item-link:focus {
  color: $btn-dark-text-color;
}
.contacts__button-set {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__button {
  display: inline-block;
  min-width: 161px;
  min-height: 44px;
  border-radius: 22px;
  border: none;
  cursor: pointer;

  @include font(16px, 1.3, 0.03em, 500);
  color: $accent-color;
  align-items: center;
  text-align: center;
  background-color: $title-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.svg-btn-frst {
  margin-left: 8px;
  fill: currentColor;
}
.svg-btn-scnd {
  margin-left: 14px;
  fill: currentColor;
}
.contacts__button:hover,
.contacts__button:focus {
  color: $btn-light-text-color;
  background-color: $btn-dark-hover-color;
}
.contacts__button:hover .svg-btn-frst {
  fill: $btn-light-text-color;
}
