.contacts {
  background: linear-gradient(to bottom, $title-color 5%, $bg-about-contacts-color 5%);
  padding-bottom: 113px;

  @media screen and (min-width: 767px) {
    background: linear-gradient(to bottom, $title-color 10%, $bg-about-contacts-color 10%);
  }
  @media screen and (min-width: 1280px) {
    background-image: url('../images/contacts/sectionbg@1x.png'),
      linear-gradient(
        180deg,
        $title-color 100px,
        $bg-about-contacts-color 0,
        $bg-about-contacts-color
      );
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 100px, 0 0;
  }
}
.contacts__card-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 86px;
}
@media screen and (min-width: 767px) and (max-width: 1280px) {
  .contacts__card-set {
    flex-basis: calc((100% - 40px) / 3);
    margin-bottom: 81px;
  }
}
@media screen and (max-width: 767px) {
  .contacts__card-set {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 54px;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__card-set {
    flex-basis: calc(100% / 3 - 30px);
  }
}
.contacts__card {
  min-height: 427px;
  padding: 43px 21px 43px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  background-color: $title-color;
  &:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 400px) {
  .contacts__card {
    width: 340px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__card {
    min-height: 544px;
    padding: 50px 30px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__card {
    min-height: 572px;
    margin-right: 0;
    margin-left: 0;
    padding: 51px 43px 62px 44px;
  }
}
@media screen and (max-width: 767px) {
  .contacts__card:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__card:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contacts__card:not(:last-child) {
    margin-right: 20px;
  }
}
.contacts__card-top {
  display: inline-block;
  min-width: 80px;
  min-height: 16px;
  text-align: center;
  margin-bottom: 25px;
  border-radius: 4px;
  border: none;
  background-color: $bg-send-color;
  @include font(12px, 1.86, 0.04em, 500);
  color: $first-text-color;
  @media screen and (min-width: 768px) {
    @include font(16px, 1.86, 0.04em, 500);
  }
}
.food {
  min-width: 130px;
  min-height: 16px;
  background-color: $bg-green-color;
}
.contacts__card-city {
  margin-bottom: 10px;
  @include font(12px, 1.86, 0.04em, 500);
  color: $second-text-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.contacts__card-info {
  @include font(12px, 1.86, 0.03em, 500);
  color: $third-text-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.contacts__card-info::after {
  display: block;
  content: '';
  margin: 25px 0;
  height: 1px;
  width: 100%;
  background-color: $bg-slider-color;
  @media screen and (min-width: 768px) {
    margin: 30px 0;
  }
  @media screen and (min-width: 768px) {
    margin: 32px 0;
  }
}
.contacts__card-descript {
  @include font(12px, 1.86, 0.04em, 500);
  color: $second-text-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.contacts__card-time {
  @include font(12px, 1.86, 0.04em, 500);
  color: $fourth-text-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.second {
  margin-top: 10px;
  @media screen and (min-width: 1280px) {
    margin-top: 15px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 16px;
  }
}
.contacts__links::before {
  display: block;
  content: '';
  margin: 25px 0;
  height: 1px;
  width: 100%;
  background-color: $bg-slider-color;
  @media screen and (min-width: 768px) {
    margin: 30px 0;
  }
  @media screen and (min-width: 768px) {
    margin: 32px 0;
  }
}
.contacts__item {
  @include font(12px, 1.5, 0.04em, 500);
  color: $third-text-color;
  @media screen and (min-width: 768px) {
    @include font(14px, 1.83, 0.04em, 500);
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.contacts__item-link {
  color: currentColor;
}
.contacts__item-link:hover,
.contacts__item-link:focus {
  color: $btn-dark-text-color;
}
li {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .contacts__button-set {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
  }
}
.contacts__button {
  display: flex;
  justify-content: center;
  @extend %button;
  margin-left: auto;
  margin-right: auto;
  min-width: 176px;
  min-height: 44px;

  @include font(16px, 1.3, 0.03em, 500);
  color: $accent-color;
  background-color: $title-color;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contacts__button:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .btn-frst {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .btn-frst {
    margin-right: 15px;
  }
}
.icon-frst {
  margin-left: 8px;
  fill: currentColor;
}
.icon-scnd {
  margin-left: 14px;
  fill: currentColor;
}
.contacts__button:hover,
.contacts__button:focus {
  color: $btn-light-text-color;
  background-color: $btn-dark-hover-color;
}
