.social-links {
  display: flex;
  margin-bottom: 46px;
  justify-content: end;

  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
  }

  .social-links__icon {
    width: 32px;
    height: 32px;
    fill: currentColor;
  }
}
.social-links__item:not(:last-child) {
  margin-right: 28px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 24px;
  }
}

.social-links__link {
  color: #fea5bb;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #d41443;
  }
}

.footer {
  background-color: #fff5f6;

  .footer__title {
    @extend .section__title;
    margin-bottom: 43px;
    width: 200px;

    @media screen and (min-width: 768px) {
      width: 340px;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1280px) {
      width: auto;
    }
  }
  .footer__pre-title {
    @extend .section__pre-title;
    margin-bottom: 17px;
    width: 232px;

    @media screen and (min-width: 768px) {
      width: 340px;
    }
    @media screen and (min-width: 1280px) {
      width: auto;
    }
  }

  .footer__bottom {
    border-top: 1px solid #e1e1e1;
    padding-top: 22px;
    padding-bottom: 25px;
  }
  .footer__link {
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #d41443;
    }
  }
}

.footer__wrap {
  padding-bottom: 43px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 91px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 97px;
  }
}
.footer__contacts {
  @include font(12px, 1.83, 0.04em, 700);
  color: #000000;
  text-align: right;

  @media screen and (min-width: 768px) {
    @include font(14px, 1.83, 0.04em, 700);
  }
  @media screen and (min-width: 1280px) {
    @include font(16px, 1.83, 0.02em, 700);
  }
}
.footer__copyright {
  @include font(14px, 1.5, 0.04em, 700);
  text-align: center;
  color: #907e82;
  width: 150px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: auto;
  }
}
