.franchise-modal {
  @extend %modal;
  min-height: 500px;
}
.franchise-modal:hover {
  background: linear-gradient(45deg, #f8ced8, #ffffff);
  background-size: 200%;
  animation: gradient 5s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.backdrop {
  @extend %backdrop;
}
.franchise-modal-close {
  @extend %modal-close;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.franchise-modal__title {
  @include font(24px, 1.15, 0.04em, 400);
  @extend %modal-title;
}
.franchise-modal-form__text {
  @include font(14px, 1.15, 0.02em, 400);
  color: $second-text-color;
  display: block;
  margin-bottom: 5px;
}
.franchise-modal-form__input {
  width: 100%;
  height: 35px;
  border-radius: 24px;
  margin-bottom: 15px;
  border: 1px solid $accent-color;
  outline: none;
  padding-left: 25px;
  padding-right: 25px;
  color: $third-text-color;
}

.franchise-modal-form_button {
  @extend %button;
  @include font(16px, 1.3, 0.04em, 400);
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 40px;
  color: $btn-light-text-color;
  background-color: $btn-dark-text-color;
}
.franchise-modal-form__comment {
  width: 100%;
  height: 80px;
  border-radius: 24px;
  border: 1px solid $accent-color;
  outline: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  margin-bottom: 20px;
  color: $third-text-color;
  resize: none;
}
.franchise-modal-form__comment::placeholder {
  @include font(12px, 1.1, 0.02em, 400);
  color: $second-text-color;
  opacity: 0.5;
}
