.header__hero {
  width: 100%;
  height: 100%;
  // background-color: #ffb8ca;

  .header__container {
    position: relative;
    width: 100vw;
  }
}
.wrap {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  padding-top: 6px;
  padding-bottom: 6px;
}
.logo {
  display: block;
}
.mob-menu__btn-burger {
  display: block;

  color: #ffffff;
  cursor: pointer;
}
.mob-menu__btn-burger:hover,
.mob-menu__btn-burger:focus {
  color: #d41443;
}
.mob-menu__icon-burger {
  width: 20px;
  height: 12px;
  fill: currentColor;
}
.mob-menu {
  display: none;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 23px;
  width: 100%;
  height: 100%;
  background-color: #e17992;

  .mob-menu__btn-close {
    display: block;
    margin-left: auto;
    margin-right: 8px;
    margin-bottom: 23px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
  }
  .mob-menu__icon-close {
    width: 14px;
    height: 14px;
    fill: #d41443;
  }
  .mob-menu__btn-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin-bottom: 20px;
    @include font(16px, 1.31, 0.04em, 700);
    padding: 16px;
    border-radius: 22px;
    border: 0px;
    border-color: transparent;
    background-color: #ffffff;
    color: #d41443;
    cursor: pointer;
  }
  .mob-menu__icon-vector {
    display: block;
    margin-left: 25px;
    height: 18px;
    width: 8px;
  }
  .mob-menu__link {
    position: relative;
    display: block;
    @include font(14px, 1.29, 0.04em, 700);
    color: #ffffff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0;
  }
  .mob-menu__link::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #e18298;
  }
  .mob-menu__link:hover,
  .mob-menu__link:focus {
    color: #d41443;
  }
}
