.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $bg-hero-color;
  z-index: -3;

  &::after {
    content: '';
    position: absolute;
    display: block;
    z-index: -2;
    min-width: 345px;
    min-height: 345px;
    border-radius: 50%;
    background-color: $fourth-text-color;
    @media screen and (max-width: 480px) {
      top: 83px;
      right: 0px;
    }
  }
  .hero__container {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/hero-header/header-ice-cream-mob-1x.png);
    background-repeat: no-repeat;
    background-position: left 75% bottom 0px;
    z-index: -1;
  }
  .hero__btn-products {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    @include font(8px, 1.25, 0.04em, 400);
    padding: 9px 15px;
    border-radius: 20px;
    border: 0px;
    border-color: transparent;
    background-color: $btn-dark-hover-color;
    color: $first-text-color;
    cursor: pointer;
  }
  .hero__btn-about {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include font(8px, 1.25, 0.04em, 400);
    padding: 9px 15px;
    border-radius: 20px;
    border: 0px;
    border-color: transparent;
    background-color: $btn-light-text-color;
    color: $btn-dark-text-color;
    cursor: pointer;
  }
}
.title {
  margin-bottom: 20px;
  @include font(26px, 1.15, 0.04em, 400);
  font-family: Titan One;
  text-transform: uppercase;
  color: $title-color;

  .title__part {
    color: $btn-dark-text-color;
  }
}
