.hero {
  position: relative;
  background-color: $bg-hero-color;
  z-index: -3;

  overflow: hidden;
}

.hero__container {
  position: relative;
  padding-top: 193px;

  @media screen and (max-width: 767px) {
    height: 502px;
  }
  @media screen and (min-width: 768px) {
    width: 740px;
    padding-top: 94px;
    padding-bottom: 34px;
  }
  @media screen and (min-width: 1280px) {
    width: 1090px;
    padding-top: 155px;
    padding-bottom: 57px;
  }
}

// .hero__container::after {
//   content: '';
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   width: 300px;
//   height: 171px;

//   @media screen and (min-width: 768px) {
//     left: 387px;

//     width: 324px;
//     height: 368px;
//   }
//   @media screen and (min-width: 1280px) {
//     bottom: 0;
//     left: 455px;
//     height: 613px;
//     width: 538px;
//   }
// }
.hero__container::before {
  content: '';
  position: absolute;
  width: 346px;
  height: 344px;
  left: 36px;
  bottom: 75px;
  z-index: -2;
  border-radius: 50%;

  @media screen and(max-width: 767px) {
    background-color: $pre-title-color;
  }

  @media screen and(min-width: 768px) {
    // background-color: $pre-title-color;
    background-image: url(../images/hero-header/pngwing.com.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    animation: spin 10s linear 0s infinite;
    left: 293px;
    bottom: 46px;
    width: 324px;
    height: 322px;
  }

  @media screen and(min-width: 1280px) {
    width: 538px;
    height: 538px;
    left: 380px;
    bottom: 75px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero__container::after {
  content: '';
  position: absolute;
  width: 171px;
  height: 410px;
  bottom: 0;
  left: 117px;
  background-image: url(../images/hero-header/header-ice-cream-mob-1x.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/hero-header/header-ice-cream-mob-2x.png);
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;

  @media screen and(min-width: 768px) {
    width: 143px;
    height: 336px;
    bottom: 0;
    left: 364px;
    background-image: url(../images/hero-header/header-ice-cream-tab-1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero-header/header-ice-cream-tab-2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    width: 236px;
    height: 557px;
    left: 500px;
    bottom: 0px;
    background-image: url(../images/hero-header/header-ice-cream-desk-1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero-header/header-ice-cream-desk-2x.png);
    }
  }
}
.hero__btn-products {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  @include font(8px, 1.25, 0.04em, 400);
  padding: 9px 15px;
  border-radius: 20px;
  border: 0px;
  border-color: transparent;
  text-decoration: none;
  background-color: $btn-dark-hover-color;
  color: $first-text-color;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1280px) {
    @include font(14px, 1.29, 0.04em, 400);
    padding: 12px 20px;
  }
}
.hero__btn-products:hover {
  background-color: $btn-dark-hover-color;
}
.hero__btn-about {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @include font(8px, 1.25, 0.04em, 400);
  padding: 9px 15px;
  border-radius: 20px;
  border: 0px;
  border-color: transparent;
  text-decoration: none;
  background-color: $btn-light-text-color;
  color: $btn-dark-text-color;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1280px) {
    @include font(14px, 1.29, 0.04em, 400);
    padding: 12px 20px;
  }
}
.hero__btn-about:hover {
  background-color: $btn-light-hover-color;
}
.title__numbers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.title {
  // margin-bottom: 20px;
  @include font(26px, 1.15, 0.04em, 400);
  font-family: Titan One;
  text-transform: uppercase;
  color: $title-color;

  @media screen and (min-width: 768px) {
    @include font(22px, 1.15, 0.04em, 400);
    padding-top: 8px;
  }
  @media screen and (min-width: 1280px) {
    @include font(38px, 1.16, 0.04em, 400);
    padding-top: 15px;
  }
}
.title__part {
  @include font(48px, 1, 0.04em, 400);
  color: $btn-dark-text-color;

  @media screen and (min-width: 768px) {
    @include font(34px, 0.9, 0.04em, 400);
  }
  @media screen and (min-width: 1280px) {
    @include font(58px, 0.9, 0.04em, 400);
  }
}
.numbers {
  position: relative;
  text-align: right;

  @media screen and (min-width: 768px) {
    height: 102px;
    width: 52px;

    // right: 0;
  }
  @media screen and (min-width: 1280px) {
    height: 168px;
    width: 92px;
    // right: -2.5%;
  }
}
.hero__number-first {
  display: none;
  @media screen and (min-width: 768px) {
    position: absolute;
    display: block;
    z-index: 1;
    right: 8px;
    top: 2px;
    // width: 43px;
    // height: 44px;

    // margin: 0;
    // padding: 0;
    font-family: Titan One;
    @include font(28px, 1.14, 0.04em, 400);
    color: $btn-dark-text-color;
  }

  @media screen and (min-width: 1280px) {
    @include font(46px, 1.15, 0.04em, 400);
    right: 0px;
    top: 0px;
    // width: 72px;
    // height: 77px;
  }
}

.hero__number-second {
  display: none;
  @media screen and (min-width: 768px) {
    position: absolute;
    display: block;
    z-index: 1;
    // width: 51px;
    // height: 43px;
    bottom: 0px;
    right: 6px;
    // margin: 0;
    // padding: 0;
    font-family: Titan One;
    @include font(28px, 1.14, 0.04em, 400);
    color: $btn-dark-text-color;
  }
  @media screen and (min-width: 1280px) {
    @include font(46px, 1.15, 0.04em, 400);
    bottom: 0px;
    right: 0px;
    // width: 92px;
    // height: 76px;
  }
}
// .hero__number-first {
//   margin-bottom: 14px;
// }
.hero__number-first::before {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
  right: -8px;
  top: -2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $first-text-color;

  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
    right: -15px;
    top: -2px;
  }
}
.hero__number-second::before {
  content: '';
  position: absolute;
  display: block;
  right: -6px;
  top: -2px;
  // left: 60%;
  // top: -5%;
  z-index: -1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $first-text-color;

  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
    right: -15px;
    top: -2px;
  }
}
.hero__number {
  @media screen and (min-width: 768px) {
    -webkit-transition: all 0.2s ease;
  }
  &:hover {
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
    text-shadow: 2px 2px 2px #000;
  }
}

.hero__cafes {
  display: block;
  @include font(8px, 1.3, 0.04em, 400);
  font-family: DM Sans;
  color: $first-text-color;

  @media screen and (min-width: 1280px) {
    @include font(14px, 1.3, 0.04em, 400);
  }
}
.hero__text {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    @include font(8px, 1.5, 0.04em, 400);
    color: $first-text-color;
    width: 114px;
    margin-top: 66px;
    margin-left: 120px;
  }
  @media screen and (min-width: 1280px) {
    width: 200px;
    margin-top: 112px;
    margin-left: 180px;
    @include font(14px, 1.42, 0.04em, 400);
  }
}
.hero__text::before {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    content: '';
    position: absolute;
    left: 20px;
    bottom: 28px;
    width: 124px;
    height: 126px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../images/hero-header/header-milk-tab-1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero-header/header-milk-tab-2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    width: 188px;
    height: 191px;
    left: -38px;
    bottom: 57px;
    background-image: url(../images/hero-header/header-milk-desk-1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero-header/header-milk-desk-2x.png);
    }
  }
}
.hero__text::after {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    content: '';
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 168px;
    height: 133px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../images/hero-header/header-girl-tab-1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero-header/header-girl-tab-2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    width: 293px;
    height: 232px;
    right: 15px;
    bottom: 0;
    background-image: url(../images/hero-header/header-girl-desk-1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero-header/header-girl-desk-2x.png);
    }
  }
}
.hero__button__bottom {
  display: none;
  @media screen and (min-width: 768px) {
    width: 18px;
    height: 18px;
    margin-left: 120px;
    margin-top: 7px;
    display: block;
    border: transparent;
    border-radius: 50%;
    color: $btn-light-text-color;
    background-color: $btn-light-text-color;
    background-image: url('../images/products/product-arrow.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
    margin-left: 180px;
    margin-top: 20px;
  }
}
.hero__button__bottom:hover,
.hero__button__bottom:focus {
  background-color: $btn-dark-text-color;
  border: 1px;
  border-color: $btn-dark-text-color;
  box-shadow: 0px 4px 4px rgba(228, 116, 159, 0.897);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
